@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Lato:wght@100&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #D0F0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    margin: 0;
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
}

.container{
   position: relative;
    /*background-color: #e6f6de;*/
    padding: 10px;
    margin: 0;
    text-align: center;
    width: 600px;
    border-radius: 10px;
}
form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

.input{
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 400px;
    font-family: 'Inria Sans', sans-serif;
}


.add-btn{
    background-color: #96ba83;
    color: rgb(47, 107, 25);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 70px;
    font-size: 15px;
    margin-left: 20px;
}

.add-btn:hover{
    background-color: #142e04;
    color: white;
}

ul{
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }

li span {
    flex-grow: 1;
    margin-right: 10px;
 }

li button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e99292;
    color: #b71414;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

li.completed {
    background-color: #9bff8e;
  }